/* CSS reset components
   ========================================================================== */

/* From Kevin Powell and RemedyCSS */
*, *::before, *::after { box-sizing: border-box; }

/* These don't inherit body font by default */
button, input, textarea, select { font: inherit; }

img, picture, svg, video {
  display: block;
  max-width: 100%; /* This is actually set to either 55% (within "has-sidenotes"
  div) or 100% (not within such a div) */
}

html { line-sizing: normal; }

/* My subset of margin: 0 to get rid of pesky blockquotes hanging out */

body * { margin-left: 0; margin-right: 0 }

body {
  min-height: 100vh;
  max-width: 1200px; /* expanded for sidenotes a la Tufte */
  font: 400 16px/1.55em -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, sans-serif;
}

main {
  display: grid;
  justify-content: center; /* centers items horizontally */
}

/* header and footer areas */
ul.menu {
  padding: 0; /* reverse rule to indent uls with 40px usually */
}
.menu li { display: inline-block; } /* displays list items horizontally without
bullets instead of vertically with bullets */
.menu a, a:visited { /* even more minimalist: removed article-meta idea */
  text-decoration: none; /* removes underlines from links */
  background: #eee; /* gives light gray background */
  padding: 5px; /* puts text inside color box */
  border-radius: 5px; /* rounds the corners */
  color: inherit; /* added to avoid link clicking changing color */
}
.menu, footer { text-align: center; }
/* replaced titles (.title) with h1.title and substitles (h2) with p.subtitle,
spec-ing font sizes and weights as in Tufte and distill */
/* in general default margins seem fine except the ones after (a) h1.title, esp.
(b) between h1.title and p.subtitle are too large; (a) is shrunk by line-height
and (b) is shrunk by a negative top margin for subtitle */
h1.title {
  font-size: 3.2rem;
  line-height: 1;
}
p.subtitle {
  margin-top: -2rem;
  font-weight: 300;
  font-size: 1.2rem;
}
/* Sidenotes/marginnotes
   ========================================================================== */
/* This is adapted from
https://github.com/edwardtufte/tufte-css/blob/gh-pages/tufte.css. To make way
for a sidenotes column, all immediate children of the main element (e.g. <p>s)
have width reduced. Then each sidenote/marginnote involves two visible HTML
elements: the superscripted sidenote number label in the main text (class
sidenote-number/marginnote-ind), and the span containing the sidenote on the
right side (class sidenote/marginnote). See layouts/shortcodes/sidenote.html for
the arrangement. The following CSS acts on positions and sizes these elements
correctly, as well as hiding sidenotes by default on narrow screens and making
the number label clickable to toggle displaying sidenotes or not.*/
main.has-sidenotes > *:not(.sidenote):not(.marginnote) {
    max-width: 65%;
}
.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    font-size: 0.8rem;
    line-height: 1.3;
}
.sidenote-number,
.marginnote-ind {
    position: relative;
    vertical-align: baseline;
    user-select: none;
    font-size: 0.7rem;
    top: -0.5rem;
    left: 0.1rem;
}
input.margin-toggle {
    display: none;
}
@media (max-width: 760px) {
    main.has-sidenotes > *:not(.sidenote):not(.marginnote) {
        max-width: 100%;
    }
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }
    .sidenote,
    .marginnote {
        display: none;
    }
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }
}
/* removed footer: no footer right now */

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
