<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}?{{ (querify "id" (math.Rand | mul 10000 | math.Ceil)) | safeURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}?{{ (querify "id" (math.Rand | mul 10000 | math.Ceil)) | safeURL }}" />
  </head>

  <body>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
